*{
	box-sizing: border-box;
}
h1{
	text-align: center;
	margin-bottom: 30px;
	font-family:fantasy ;
}
body {
	margin: 0px;
}
.col-md-6,.col-lg-4{
	border: 3px solid black;
	background: grey;
	margin: 1%;
}
.row p{
    clear: right;
	font-family: fantasy ;
	margin-right: 20px;
	margin-left: 20px;
}
.row { 
 margin: 2%;
}
/*Columns Heading basic style*/
h2
{
	border: 3px solid black;
	margin: -2.55px;
	text-align: center;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
}
/*Heading of Columns styles*/
#chicken{
	background-color: #d59898;
	color:black;
}
#burger{
	background-color:#c14543 ;
	color: whitesmoke;
}
#sushi{
	background-color: yellow;
	color: black;
}
			/*Responsive Design for Larger screen width( above 1299px )*/
@media (min-width: 1300px) {
.col-lg-4,.col-lg-6
	{	width:32%;
 		float: left;
 		margin-right: auto;
	}
}
/*Responsive Design for Medium screen width( above 799px  and below 1299px)*/
@media (min-width: 800px) and (max-width: 1299px) {
	.col-md-6{
		float: left;
		width: 48%;
	}
	.col-sm-12{
		clear: both;
	}
}
/*Responsive Design for smaller screen width( below 799px )*/
@media (max-width: 799px) {
	.col-sm-6,.col-sm-12
	{   
		margin: 2.5%;
		width: auto;
	}
} 
			